html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: LightSkyBlue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

a {
  pointer-events: all;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: "Inter var", sans-serif;
  cursor: url("../public/cursor32x32.png"), auto;
}
